.container-Know {
  width: 100%;
  height: 100vh;
  position: relative;
  /* background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(38,117,96,1) 100%); */

}

.img-know{
    height: 100%;
    width: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
}

.cont-body-know{
    position: relative;
}
.typo-title-know{
    padding-top: 30px;
    color: white;
    text-align: center;
}
.avatar-int {
    width: 25px !important;
    height: 25px !important;
    background: #34db31 !important;
    margin-right: 10px !important;
  }

/* */
/* .overlay-know {
    background: #fff;
    
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* -webkit-box-shadow: 0px 21px 28px -8px #000000;
    box-shadow: 0px 21px 28px -8px #000000;
  } */