.body {
    margin: 0;
    position: relative;
    width: 100%;
    height: 105vh;
    overflow: hidden;
  }
  .img {
    
    width: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: hard-light;
    animation: hue-rotate 10s linear infinite;
  }
 
  .text-left {
    text-align: center;
  }
  /********ContentImage************/
  .container-Info {
    position: absolute;
    height: 100%;
    z-index: 4;
  }
  .vidContent {
    position: relative;
    top: 70%;
    color: #f1f1f1;
    width: 100%;
    padding: 10px;
    text-align: left;
  }
  
 
  .overlay {
    background: rgb(255, 255, 255);
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    z-index: -1;
    -webkit-box-shadow: 0px 21px 28px -8px #000000;
    box-shadow: 0px 21px 28px -8px #000000;
  }
  
  
  @keyframes shadow-pulse {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
  }

  @keyframes hue-rotate {
    from {
      -webkit-filter: hue-rotate(0);
      -moz-filter: hue-rotate(0);
      -ms-filter: hue-rotate(0);
      filter: hue-rotate(0);
    }
    to {
      -webkit-filter: hue-rotate(360deg);
      -moz-filter: hue-rotate(360deg);
      -ms-filter: hue-rotate(360deg);
      filter: hue-rotate(360deg);
    }
  }