.container-job {
  margin-top: -22px;
  padding: 0;
  background-color: black;
  min-height: 500px;
  position: relative;
  height: 100vh;
}
.job-title {
  padding-top: 40px;
  padding-bottom: 120px;
  text-align: center;
  color: white;
}

.container-line-end {
  padding-right: 45px;
}

.container-line {
  padding-bottom: 30px;
}

/**image**/
.img-job {
  height: 100%;
  width: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  -webkit-animation: fadeInFromNone 0.5s ease-out;
  -moz-animation: fadeInFromNone 0.5s ease-out;
  -o-animation: fadeInFromNone 0.5s ease-out;
  animation: fadeInFromNone 0.5s ease-out;
}
@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

.cont-body-job {
  position: relative;
}

.overlay-job {
  background: rgb(0, 0, 0);
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 0px 21px 28px -8px #000000;
  box-shadow: 0px 21px 28px -8px #000000;
}
